body {
	background:
	radial-gradient(circle at 100% 5%, transparent 20%, rgba(155, 155, 155,.3) 21%, rgba(155, 155, 155,.3) 34%, transparent 35%, transparent),
	radial-gradient(circle at 0% 50%, transparent 20%, rgba(155, 155, 155,.3) 21%, rgba(155, 155, 155,.3) 34%, transparent 35%, transparent) 0 -50px; 
	background-color: aliceblue;
	background-size: 900px 1200px;
	-moz-animation: background-transition 8s linear 7.5s, animated-background 11.09s linear alternate infinite, shake 2s ease 3.5s alternate 2;
	-webkit-animation: background-transition 8s cubic-bezier(0.1,0.1,1,0.7), 7.5s, animated-background 11.09s linear alternate infinite, shake 2s ease 3.5s alternate 2;
}

* {
	font-family: Futura Condensed Medium, Futura, Comic Sans MS, fantasy;
}

h1{
	margin-left: 350px;
	padding: 10px;
	position: relative;
	float: center;
	/*color: white;*/
	background-color: rgba(155, 155, 155, .3);
	/* background: -webkit-radial-gradient(skyblue, skyblue 50%, cadetblue); */
	display: inline-block;
	clear: both;
	font-size: 48px;
	border: 17px inset ghostwhite;
	border-radius: 500px;
	-webkit-animation: h1-text-color 2s steps(40,end) alternate infinite;
}

#labelname {
	position: relative;
	font-weight: bold;
	padding-top: 100px;
	margin-top:200px;
	margin-left: 325px;
	font-size:32px;
}
select {
	margin: 50px;
	margin-left: 560px;
	border: 100px solid #111;
	border-radius: 25px;
	background: transparent;
	width: 235px;
	height: 60px;
	padding: 5px 5px 5px 15px;
	font-size: 20px;
	border: 7px inset #ccc;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: rgba(155, 155, 155, .3);
	background: url(/img/middle_finger.png) 96% / 15% no-repeat #eee;
}
select:hover {
	border: 7px inset #eee;
	color: aliceblue;
	background: #ccc;
}
input {
	margin-left:650px;
	border:7px inset #ccc;
	border-radius:15px;
	font-size: 17px;
	-webkit-appearance:none;
	-moz-appearance:none;
	background-color: rgba(155, 155, 155, .3);
	appearance:none;
}
input:hover {
	border: 7px inset #eee;
	color:aliceblue;
	background: #ccc;
}
#form1{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#lat{
	visibility: hidden;
}

#long{
	visibility: hidden;
}

@-webkit-keyframes animated-background {
	from {
		background position: 0 50;
}
50% {
	background-position: 0 0;
}
to {
	background-position: 16.25% 11%;
}
}
@-moz-keyframes animated-background {
	from {
		background position: 0 50;
}
50% {
	background-position: 0 0;
}
to {
	background-position: 6.25% 81%;
}
}
@-webkit-keyframes h1-text-color {
	from {
		color:white;
		border: 17px inset ghostwhite;
}
to {
	color:black;
	border: 17px inset slategray;	
}
}
