<!DOCTYPE html>
<html>
        <head>
                <title> What the Fuck is Open </title>
        </head>
        <body>
                <p> There was an error retrieving your location. Please go back and make sure to share your location. </p><br />
                <form action="/">
                        <input type="submit" value="Go back." />
                </form>
        </body>
</html>
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                                 

